.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  margin: 5px;
  border-radius: 5px;
  height: 1.5em;
  font-size: 1em;
}

.btn {
  border: none;
  background-color: #1B69D9;
  font-size: 1em;
  border-radius: 5px;
  padding: 6px;
  font-weight: 500;
  color: #ffffff;
  -webkit-box-shadow: 1.5px 1.5px 3px #3f3e3e;
          box-shadow: 1.5px 1.5px 3px #3f3e3e;
  display: block;
  margin: 0 3px 0 3px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.green-btn {
  background-color: #398838;
  width: 100%;
}